#footer{
    position: relative;
    background-color: #0F5FA6;
    .center{
        color: #fff;
        width: 1000px;
        margin: 0 auto;
        text-align: center;
        .f-logo{
            padding-top: 80px;
            padding-bottom: 42px;
        }
        .f-icon{
            display: flex;
            justify-content: center;
            padding-bottom: 45px;
            font-size: 30px;
            li{
                margin: 0 30px;
                a{
                    color: #fff;
                }
            }
        }
        p{
            padding-bottom: 50px;
            font-weight: bold;
            font-size: 16px;
        }
        .f-info{
            padding-top: 50px;
        }
        .copy{
            padding-bottom: 70px;
            font-size: 13px;
        }
        .adress{
            span{
                font-size: 13px;
                line-height: 25px;
                &::after{
                    display: inline-block;
                    content: "";
                    height: 10px;
                    width: 1px;
                    background-color: #777;
                    margin: 0 10px;
                    
                }
                &:nth-child(2)::after,&:nth-child(5)::after{
                    display: none;
                }
            }
        }
    }
    #scTop{
        position: absolute;
        right: 95px;
        top: 60px;
        color: #fff;
        text-align: center;
        cursor: pointer;
        .upWrap{
            width: 50px;
            height: 50px;
            border: 1px solid #fff;
            border-radius: 50%;
            line-height: 50px;
            margin-bottom: 5px;
        }
    }
}

@media screen and (max-width:1000px){
    #footer{
        .center{
            width: 80%;
        }
        #scTop{
            right: 35px;
        }
    }
}

@media screen and (max-width:730px){
    #footer{
        .center{
            width: 90%;
            p{
                padding-bottom: 30px;
                font-weight: bold;
                font-size: 13px;
            }
            .f-info{
                padding-top: 30px;
            }
            .copy{
                padding-bottom: 50px;
                font-size: 11px;
            }
            .adress{
                span{
                    font-size: 11px;
                    line-height: 20px;
                    &:nth-child(2){
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
        }
    }
}