.storeWrap{
    background-color: #f7f6f3;
    padding: 100px 0;
    .center{
        width: 76%;
        margin: 0 auto;
        h2{
            font-size: 50px;
            color: #0F5FA6;
            margin-bottom: 65px;
        }
        .store_tapmenu{
            display: flex;
            justify-content: center;
            li{
                margin: 0 25px;
                font-size: 25px;
                margin-bottom: 100px;
                a{
                    color: #0F5FA6;
                    border-bottom: 1px solid #0F5FA6;
                }
            }
        }
        .opennotitle{
            text-align: center;
            font-size: 35px;
            margin-top: 150px;
            margin-bottom: 200px;
        }
        .searchWrap{
            border-top: 1px solid #dfdfdf;
            border-bottom: 1px solid #dfdfdf;
            display: flex;
            justify-content: center;
            .left_searchMap{
                width: 460px;
                position: relative;
                img{
                    width: 460px;
                }
                .circle { width:25px; height:25px; background:transparent; background-color: #fff; color: #0F5FA6; border-radius:50%;
                    display:flex; justify-content:center; align-items:center; font-size:11px; cursor: pointer;
                }
                .circle.on{background-color: #0F5FA6; color: #fff;}
                .circle.seoul { position:absolute; left:180px; top:55px;  }
                .circle.busan { position:absolute; left:292px; top:227px;  }
                .circle.deagu { position:absolute; left:274px; top:180px;  }
                .circle.inchun { position:absolute; left:150px; top:47px;  }
                .circle.guangzu { position:absolute; left:198px; top:239px;  }
                .circle.deajun { position:absolute; left:223px; top:176px;  }
                .circle.ulsan { position:absolute; left:311px; top:194px;  }
                .circle.seajong { position:absolute; left:212px; top:141px;  }
                .circle.gunggi { position:absolute; left:207px; top:80px;  }
                .circle.gangwon { position:absolute; left:260px; top:55px;  }
                .circle.chungbuk { position:absolute; left:235px; top:114px;  }
                .circle.chungnam { position:absolute; left:171px; top:128px;  }
                .circle.junbuk { position:absolute; left:181px; top:187px;  }
                .circle.junnam { position:absolute; left:163px; top:241px;  }
                .circle.gungbuk { position:absolute; left:284px; top:139px;  }
                .circle.gungnam { position:absolute; left:243px; top:218px;  }
                .circle.jeju { position:absolute; left:127px; top:308px;  }
            }
            .right_search{
                color: #0F5FA6;
                margin-top: 50px;
                .city1,.city2{
                    border: 1px solid #dfdfdf;
                    color: #0F5FA6;
                    background-color: #f7f6f3;
                    margin-top: 20px;
                    margin-bottom: 40px;
                    padding: 10px;
                }
                .namesearch{
                    border: 1px solid #dfdfdf;
                    color: #0F5FA6;
                    background-color: #f7f6f3;
                    margin-top: 20px;
                    padding: 10px;
                }
                button{
                    background-color: #0F5FA6;
                    border: none;
                    color: #fff;
                    padding: 10px;
                    margin-left: 5px;
                    cursor: pointer;
                }
            }
        }
    }
}
.store_s_title{
    text-align: center;
    margin-top: 70px;
    font-size: 30px;
    color: #0F5FA6;
    margin-bottom: 40px;
}
.nostore{
    text-align: center;
    margin-top: 70px;
    font-size: 30px;
    color: #0F5FA6;
    margin-bottom: 40px;
}
.storelistheader{
    display: flex;
    width: 70%;
    margin: 0 auto;
    justify-content: space-between;
    .line{
        width: 25%;
        text-align: center;
        line-height: 40px;
        border-top: 1px solid #0F5FA6;
        border-bottom: 1px solid #0F5FA6;
        color: #0F5FA6;
    }
}
.storelist{
    display: flex;
    width: 70%;
    margin: 0 auto;
    justify-content: space-between;
    
    .line{
        width: 25%;
        text-align: center;
        font-size: 13px;
        line-height: 60px;
        border-bottom: 1px solid #a7ccec;
        color: #0F5FA6;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}