#container .cont1 .slideWrap {
  width: 100%;
  height: 869px;
}
#container .cont1 .slideWrap .swiper-wrapper .swiper-slide {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#container .cont1 .slideWrap .swiper-wrapper .swiper-slide .slide-context {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}
#container .cont1 .slideWrap .swiper-wrapper .swiper-slide .slide-context h2 {
  font-size: 35px;
  margin-bottom: 40px;
}
#container .cont1 .slideWrap .swiper-wrapper .swiper-slide .slide-context p {
  line-height: 30px;
  margin-bottom: 40px;
}
#container .cont1 .slideWrap .swiper-wrapper .swiper-slide .slide-context .contextBtns {
  display: flex;
  justify-content: center;
}
#container .cont1 .slideWrap .swiper-wrapper .swiper-slide .slide-context .contextBtns a {
  display: block;
  height: 50px;
  color: #fff;
  line-height: 50px;
  margin-right: 5px;
}
#container .cont1 .slideWrap .swiper-wrapper .swiper-slide .slide-context .contextBtns .getStartBtn {
  width: 210px;
  background-color: #D99771;
}
#container .cont1 .slideWrap .swiper-wrapper .swiper-slide .slide-context .contextBtns .moreBtn {
  width: 160px;
  border: 1px solid #fff;
  box-sizing: border-box;
}
#container .cont1 .slideWrap .swiper-wrapper .s1 {
  background-image: url(/img/slide01.jpg);
}
#container .cont1 .slideWrap .swiper-wrapper .s2 {
  background-image: url(/img/slide02.jpg);
}
#container .cont1 .slideWrap .swiper-wrapper .s3 {
  background-image: url(/img/slide03.jpg);
}
#container .cont1 .swiper .circleBtn {
  position: absolute;
  z-index: 99;
  bottom: 50px;
  display: flex;
  justify-content: center;
}
#container .cont1 .swiper .circleBtn .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  margin: 0 10px;
  background-color: #fff;
  opacity: 0.8;
}
#container .cont1 .swiper .circleBtn .swiper-pagination-bullet-active {
  background-color: #0F5FA6;
  opacity: 1;
}
#container .cont1 .swiper .naviBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  z-index: 98;
  color: #D99771;
  cursor: pointer;
}
#container .cont1 .swiper .naviBtn i {
  line-height: 60px;
}
#container .cont1 .swiper .prevBtn {
  left: 50px;
}
#container .cont1 .swiper .nextBtn {
  right: 50px;
}
#container .cont2 {
  height: 100vh;
  display: flex;
  background-color: #f7f6f3;
}
#container .cont2 .left-gallery {
  position: relative;
  width: 50%;
  height: 950px;
}
#container .cont2 .left-gallery::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 8;
}
#container .cont2 .left-gallery img {
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: 950px;
  transition: all 1s;
}
#container .cont2 .left-gallery img.on {
  width: 100%;
}
#container .cont2 .left-gallery .tapmenuWrap {
  position: absolute;
  left: 60px;
  top: 80px;
  z-index: 9;
}
#container .cont2 .left-gallery .tapmenuWrap h2 {
  font-size: 70px;
  color: #fff;
  margin-bottom: 50px;
}
#container .cont2 .left-gallery .tapmenuWrap .classify li {
  font-size: 25px;
  color: #fff;
  margin-bottom: 20px;
  transition: all 0.5s;
  width: 80px;
  padding-bottom: 10px;
  cursor: pointer;
}
#container .cont2 .left-gallery .tapmenuWrap .classify li.on {
  transform: scale(1.2);
  border-bottom: 2px solid #fff;
}
#container .cont2 .right-info {
  position: relative;
  width: 50%;
}
#container .cont2 .right-info .tap-info-view {
  display: none;
}
#container .cont2 .right-info .tap-info-view.on {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
  color: #0F5FA6;
}
#container .cont2 .right-info .tap-info-view.on h2 {
  font-size: 35px;
  margin-top: 100px;
  margin-bottom: 50px;
}
#container .cont2 .right-info .tap-info-view.on p {
  font-size: 20px;
  margin-bottom: 150px;
}
#container .cont2 .right-info .tap-info-view.on .tap-icon1 {
  display: flex;
}
#container .cont2 .right-info .tap-info-view.on .tap-icon1 li {
  width: 320px;
  height: 180px;
  background-color: #D99771;
  margin: 0 15px;
}
#container .cont2 .right-info .tap-info-view.on .tap-icon2 {
  display: flex;
}
#container .cont2 .right-info .tap-info-view.on .tap-icon2 li {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #D99771;
  margin: 0 15px;
}
#container .cont2 .right-info .tap-info-view.on .tap-context {
  margin-top: 150px;
  font-size: 15px;
  line-height: 20px;
  padding-bottom: 20px;
  margin-bottom: 50px;
  border-bottom: 1px solid #0F5FA6;
}
#container .ai-message {
  text-align: center;
  background-color: #f7f6f3;
}
#container .ai-message h2 {
  padding: 160px 0;
  font-size: 60px;
  color: #0F5FA6;
  line-height: 80px;
}
#container .ani-bg {
  padding-bottom: 80px;
  border-bottom: 1px solid #0F5FA6;
}
#container .ani-bg img {
  width: 100%;
}
#container .ani-bg .aniWrapBox {
  display: flex;
  justify-content: center;
}
#container .ani-bg .aniWrapBox .aniWrap2 {
  -webkit-animation-delay: -10s;
          animation-delay: -10s;
}
#container .ani-bg .aniWrapBox .aniWrap {
  position: absolute;
  overflow: hidden;
  height: 80px;
  -webkit-animation-name: anitextmove;
          animation-name: anitextmove;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
#container .ani-bg .aniWrapBox .aniWrap .ani-text {
  font-size: 40px;
  line-height: 80px;
  margin-right: 40px;
  color: #0F5FA6;
}
#container .ani-bg .aniWrapBox .aniWrap .ani-text img {
  width: 40px;
  height: 40px;
  margin: 0 20px;
}
@-webkit-keyframes anitextmove {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes anitextmove {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
#container .donaition {
  display: flex;
  position: relative;
}
#container .donaition .left_count {
  width: 50%;
  color: #0F5FA6;
}
#container .donaition .left_count h2 {
  margin-top: 200px;
  padding-left: 165px;
  font-size: 60px;
  line-height: 75px;
}
#container .donaition .left_count > p {
  font-size: 20px;
  margin-top: 50px;
  line-height: 27px;
  margin-left: 165px;
  margin-bottom: 95px;
}
#container .donaition .left_count .box {
  margin-left: 165px;
  width: 768px;
  height: 300px;
  border: 1px solid #dfdfdf;
}
#container .donaition .left_count .box .achieve {
  margin-top: 40px;
  margin-left: 60px;
  font-size: 23px;
  margin-bottom: 38px;
}
#container .donaition .left_count .box .count {
  font-size: 100px;
  margin-left: 60px;
  font-weight: 700;
}
#container .donaition .left_count .box .price {
  font-size: 26px;
}
#container .donaition .left_count .box .dona_time {
  margin-top: 35px;
  margin-left: 60px;
}
#container .donaition .left_count .moreBtn {
  margin-top: 48px;
  margin-left: 165px;
  width: 190px;
  height: 60px;
  background-color: #0F5FA6;
  color: #fff;
  border: none;
  border-radius: 30px;
  font-size: 20px;
  margin-bottom: 190px;
}
#container .donaition .right_ani {
  position: relative;
  width: 50%;
  overflow: hidden;
  margin-top: 100px;
}
#container .donaition .right_ani .circle_wrap {
  width: 800px;
  height: 800px;
  position: absolute;
  right: -400px;
  margin: 100px auto;
}
#container .donaition .right_ani .circle_wrap .big_bg {
  position: absolute;
  left: -295px;
  top: 100px;
  width: 590px;
  height: 590px;
  background-color: #D99771;
  border-radius: 50%;
  z-index: 8;
}
#container .donaition .right_ani .circle_wrap .small_bg {
  position: absolute;
  left: 200px;
  top: -30px;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: #D99771;
  z-index: 8;
}
#container .donaition .right_ani .circle_line {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border: 2px solid #0F5FA6;
  border-radius: 50%;
}
#container .donaition .right_ani .circle_small {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-name: move_circle;
          animation-name: move_circle;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
#container .donaition .right_ani .circle_small .circle_move {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #0F5FA6;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -8px;
}
@-webkit-keyframes move_circle {
  0% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes move_circle {
  0% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
#container .news {
  display: flex;
  color: #0F5FA6;
  position: relative;
}
#container .news .sns_circle {
  position: absolute;
  left: 75px;
  bottom: -130px;
}
#container .news .sns_circle i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
}
#container .news .sns_circle img {
  -webkit-animation-name: move_sns_logo;
          animation-name: move_sns_logo;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@-webkit-keyframes move_sns_logo {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes move_sns_logo {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#container .news .news_title {
  width: 40%;
  border: 1px solid #dfdfdf;
  border-left: unset;
}
#container .news .news_title h2 {
  margin-top: 55px;
  margin-left: 85px;
  font-size: 75px;
  line-height: 100px;
}
#container .news .right_info {
  width: 60%;
}
#container .news .right_info .news_list {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #dfdfdf;
  align-items: center;
  padding: 60px;
}
#container .news .right_info .news_list h3 {
  margin: 20px 0;
  font-size: 22px;
}
#container .news .right_info .news_list i {
  font-size: 40px;
}
#container .news .right_info .news_list:last-child {
  border-bottom: 1px solid #dfdfdf;
}
#container .sns {
  height: 100vh;
}
#container .sns .center {
  width: 1200px;
  margin: 330px auto 200px;
}
#container .sns .center h2 {
  text-align: center;
  font-size: 45px;
  color: #0F5FA6;
  margin-bottom: 100px;
}
#container .sns .center h2 i {
  margin-right: 25px;
}
#container .sns .center .sns_box {
  display: flex;
  justify-content: space-between;
}
#container .sns .center .sns_box .sns_list {
  width: 31%;
  background-color: #D99771;
}