<div id="footer">
    <div class="center">
        <div class="f-logo"><img src="/img/logo_w.png"></div>
        <ul class="f-icon">
            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-pinterest"></i></a></li>
        </ul>
        <p>개인정보취급방침</p>
        <div class="adress">
            <span>주소:</span>
            <span>도로명주소:</span>
            <span>대표이사:</span>
            <span>전화번호:</span>
            <span>이메일주소:</span>
        </div>
        <div class="copy">COPYRUGHT (주)ai갤러리 ALL RIGHTS RESERVED.</div>
    </div>
    <div id="scTop">
        <div class="upWrap"><i class="fa-solid fa-arrow-up-long"></i></div>
        <p>TOP</p>
    </div>
</div>