
<div id="header">
    <div class="center">
        <h1 class="logo"><a href="/"><img src="/img/logo.png"></a></h1>
        <div class="gnbWrap">
            <div class="depthbg"></div>
            <ul class="gnb">
                <li>
                    <a href="/story">Ai 갤러리</a>
                    <ul class="depth">
                        <li><a href="/story">아트스토리</a></li>
                        <li><a href="/frame">주요작품</a></li>
                        <li><a href="/donaition">사회적기부</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/menu/landscape">갤러리</a>
                    <ul class="depth">
                        <li><a href="/menu/landscape">풍경화</a></li>
                        <li><a href="/menu/fixed">정물화</a></li>
                        <li><a href="/menu/portrait">초상화</a></li>
                        <li><a href="/menu/surrealism">초현실주의</a></li>
                        <li><a href="/menu/renaissance">르네상스</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/store">전시관안내</a>
                    <ul class="depth">
                        <li><a href="/store">전사관찾기</a></li>
                        <li><a href="/storeopen">오픈예정</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/board">공지사항</a>
                    <ul class="depth">
                        <li><a href="/board">새로운소식</a></li>
                        <li><a href="/board/news">보도자료</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="galBtn">
            <a href="/frame">갤러리안내</a>
        </div>
        <ul class="h-icon">
            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-pinterest"></i></a></li>
        </ul>
    </div>
</div>